.vertical-scrollbar,
.dash-vertical-scrollbar,
.zero-size-vertical-scrollbar {
  overflow-y: scroll;
}

.horizontal-scrollbar,
.dash-horizontal-scrollbar,
.zero-size-horizontal-scrollbar {
  overflow-x: scroll;
}

.zero-size-vertical-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.zero-size-horizontal-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.vertical-scrollbar::-webkit-scrollbar,
.dash-vertical-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(5 46 22 / 0.3);
  border-radius: 20px;
}

.horizontal-scrollbar::-webkit-scrollbar,
.dash-horizontal-scrollbar::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(5 46 22 / 0.3);
  border-radius: 20px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb,
.vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(5 46 22);
  border-radius: 20px;
}
.dash-horizontal-scrollbar::-webkit-scrollbar-thumb,
.dash-vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(107, 33, 168);
  border-radius: 20px;
}
